<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<title>Home page</title>

	<style>
		body {
			background-image: url("http://wallpaperstock.net/storm-clouds_wallpapers_34797_1920x1080.jpg");
		}

		header {
			height: 55px;
			background: #0080ff;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			opacity: 0.8;
		}

		footer {
			height: 120px;
			background: #0080ff;
			color: white;
			font-family: Roundhand, cursive;
			opacity: 0.8;
		}

		#h1id {
			color: white;
		}

		#pid {
			color: white;
		}


	</style>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function () {

			var background = [[${BACKGROUND_IMAGE}]];
			document.body.style.backgroundImage = "url('" + background + "')";

			var serviceBody = [[${serviceBody}]];

			$('#h1id').html(serviceBody.title);
			$('#pid').html(serviceBody.body);
		})

		/*]]>*/


	</script>
</head>

<body>
<div class="container">

	<header>
		<h1 style="color:white; font-family: Roundhand, cursive ; margin-left: 200px;">Paliichuk and partners</h1>
	</header>
	<div style="margin-top: 40px;"></div>

	<h1 id="h1id"></h1>
	<p id="pid"></p>


	<div style="margin-top: 40px;"></div>

	<footer>
		<h3>Contacts: </h3>
		<ul>
			<li>+380981112898</li>
			<li>+380983809181</li>
			<li>+380989898367</li>
		</ul>
	</footer>


	<div style="margin-top: 40px;"></div>

	<footer>
		<h3>Contacts: </h3>
		<ul>
			<li>+380981112898</li>
			<li>+380983809181</li>
			<li>+380989898367</li>
		</ul>
	</footer>

</div>
</body>
</html>
